FLASK_APP=app
FLASK_ENV=development

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY=
SECRET_KEY=
USER_Account=
USER_Password=

#Finetune用的變數
OPENAI_TRAININGFILE_ID=
OPENAI_VALIDATIONFILE_ID=
OPENAI_FINETUNED_MODEL=
OPENAI_MODELRESULTFILE=
SOURCE_FILE=
PREPARED_FILE=