<!DOCTYPE html>
<head>
  <head> 
    <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='/images/Roboo.png') }}"
  />
  <title>TuningTitans</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/neon.css') }}" />
</head>

<body>
  <h2 class="center1">
    <a href="/">Q&A Design</a>
    <a href="/finetuning">Fine-tuning</a>
    <a href="/benchmarkPage">Benchmark</a>
  </h2>

  <div id="loading-overlay" class="overlay">
    <div class="loader"></div>
    <p>處理中，請稍後...</p>
  </div>
  
  <form action="/" method="post" enctype="multipart/form-data" id="fileCheckForm">
    <h3>Upoload file</h3>
    <input id="submit" type="file" name="fileToUpload" accept=".csv, .txt" required />
    <input id="submit" type="submit"/>
  </form>

  {% if previewData %}
  <div class="preview" >
    <h4><p>&emsp;&emsp;JSONL 檔案預覽：</h4></p>
      {% for json_obj in previewData %}
      <pre>
        {{ json_obj|replace('\n', '<br>' | safe)}}
      </pre>
      {% endfor %}
  </div>
  {% endif %}

  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
  
  {% if download_file %}
  <div class="download">
    <a href="{{ download_file }}" download>Download File</a>
  </div>
  {% endif %}
</body>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var loadingOverlay = document.getElementById("loading-overlay");
    var fileValidationForm = document.getElementById("fileCheckForm");

    if (fileValidationForm) {
      fileValidationForm.addEventListener("submit", function() {
        loadingOverlay.style.display = "block";
      });
    }
  });
</script>
