<!DOCTYPE html>
<head>
  <head> 
    <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='/images/Roboo.png') }}"
  />
  <title>TuningTitans</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/neon.css') }}" />
</head>

<body>
  <h3 class="center">
    <a href="/qadesign">Q&A Design</a>
    <a href="/finetuning">Fine-tuning</a>
    <a href="/benchmark">Benchmark</a>
  </h3>
  <form action="/qadesign" method="post" enctype="multipart/form-data">
    <h3>Upoload file</h3>
    <input id="submit" type="file" name="fileToUpload" accept=".jsonl" required />
    <input id="submit" type="submit"/>
  </form>

  {% if previewData %}
  <div class="preview">
    <h4>檔案預覽：</h4>
    <pre>{{ previewData }}</pre>
  </div>
  {% endif %}

  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}

  {% if file_path %}
  <div class="download">
    <a href="{{ file_path }}" download>Download File</a>
  </div>
  {% endif %}
</body>
